.cartitems{
  display: flex;
  justify-content: flex-start;
  align-items: center;
width: 100%;
}
mat-card-title-group{
  margin-left: 20PX;
}

.cart-action-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.cart-action-container span {
  padding-right: 10px;
  padding-left: 10px;
}

mat-icon {
  cursor: pointer;
}

.remove {
  color: red;
}

.add {
  color: green;
}

.container {
  display: flex;
  flex-direction: column;
}
