<span>description: {{productDetails.description}}</span><br>
<button color="warn" *ngIf=" !productDetails?.quantity || productDetails?.quantity < 1" (click)="handleAddToCart()"  mat-raised-button color="primary">ADD TO CART</button>

<div class="cart-action-container" *ngIf="productDetails?.quantity > 0">
  <mat-icon class="remove" (click)="handleRemoveCartItem()" >remove_circle_outline</mat-icon>
  <span>{{productDetails?.quantity}}</span>
  <mat-icon class="add" (click)="handleAddToCart()">add_circle_outline</mat-icon>
</div>
